.delete-button {
  color: #fefae0 !important;
  border: none !important;
  padding: 5px 10px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  margin: 5px !important;
  width: 4rem !important;
}
