.NewRecipeForm {
  margin-top: 5rem !important;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.NewRecipeForm input[type="text"],
.NewRecipeForm textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.NewRecipeForm input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.NewRecipeForm input[type="submit"]:hover {
  background-color: #0056b3;
}

#new-recipe-title {
  font-size: 1.5rem !important;
  font-weight: bold !important;
  text-align: center;
}

.ingredients-dropdown {
  height: 3rem !important;
  width: 14rem !important;
}

.ingredients-quantity {
  width: 100px !important;
  border-radius: 6px !important;
}

.delete-ingredient-btn {
  border: none !important;
  margin-top: 0 !important;
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
  background-color: #bc6c25 !important;
}

.add-ingredient-btn {
  width: 10rem !important;
  border: none !important;
  margin-top: 0 !important;
}

.ingredients-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.add-ingredient-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
