.auth-container {
  border: 1px solid #283618;
  margin: 20rem 25rem;
  padding: 2rem;
  border-radius: 1rem;
  min-width: 320px;
  box-shadow: 0 4px 16px #283618;
}

@media (max-width: 768px) {
  .auth-container {
    margin: 2rem 2rem;
    padding: 1rem;
  }
}
.header {
  font-size: 2rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form-input {
  padding: 0.25rem;
}

.register-link {
  text-align: center;
}

.auth-fieldset {
  margin: 0.25rem 0rem;
}
